<!-- Button trigger modal -->
<div class="modal fade" id="gridSystemModal" tabindex="-1" aria-labelledby="gridModalLabel" style="display: none;" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="gridModalLabel">Add station/stop</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <form action="#" method="POST" id="add_point_form">
                <div class="form-group">
                  <label for="new_point_route_id">Route:</label><br>
                  <select name="new_point_route_id" id="new_point_route_id">
                    {% for route in data.result.routes.result %}
                      <option value="{{route.id}}">
                          {{route.identifier}}
                      </option>
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group">
                  <label for="new_point_identifier">Point/Station Identifier:</label>
                  <input type="text" class="form-control" id="new_point_identifier">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- This will move to js build -->
<script type="text/javascript" src="/js/src/add_point_serialise.js"></script>

