{% extends "layouts/base.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}	
	<div class="card mt-2">
	  <h5 class="card-header">Stations/Stops</h5>
	  <div class="card-body">
	  	{% for point in data.result.points.result.result %}
    		<a href="{{data.urls.points}}{{point.id}}" class="btn btn-primary">{{point.identifier}}</a>	
		{% endfor %}
	  </div>
	</div>
	<div class="card mt-2">
	  <h5 class="card-header">Routes</h5>
	  <div class="card-body">
	    {% for route in data.result.routes.result %}
    		<a href="{{data.urls.route}}{{route.id}}" class="btn btn-primary">{{route.identifier}}</a>	
		{% endfor %}
	  </div>
	</div>
	<div class="card mt-2">
	  <h5 class="card-header">Areas</h5>
	  <div class="card-body">
	  	<p class="card-text">We will be adding areas all the time.</p>
		<ul class="list-group">
		    {% for area in data.result.areas.result %}
	    		<li class="list-group-item">{{area.name}}</li>	
			{% endfor %}
		</ul>
	  </div>
	</div>
	<div class="card mt-2">
	  <h5 class="card-header">Countries</h5>
	  <div class="card-body">
	  	<p class="card-text">We will be adding countries all the time.</p>
		<ul class="list-group">    
		    {% for country in data.result.countries.result %}
				<li class="list-group-item">{{country.name}}</li>	
			{% endfor %}
		</ul>
	  </div>
	</div>
	<div class="card mt-2">
	  <h5 class="card-header">Cities</h5>
	  <div class="card-body">
		<p class="card-text">We will be adding cities all the time.</p>
		<ul class="list-group">
		    {% for city in data.result.cities.result %}
		    	<li class="list-group-item">{{city.name}}</li>
			{% endfor %}
		</ul>
	  </div>
	</div>
{% endblock %}
