{% extends "layouts/base.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
	<iframe src="https://giphy.com/embed/NEvPzZ8bd1V4Y" width="auto" height="auto" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p></p>
	
	<div class="card mt-2">
	  <h5 class="card-header">Areas</h5>
	  <div class="card-body">
	    <!-- <h5 class="card-title">Special title treatment</h5> -->
	    {% for area in data.result.areas.result %}
			<!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
    		<a href="#" class="btn btn-primary">{{area.name}}</a>	
		{% endfor %}
	  </div>
	</div>
	<div class="card mt-2">
	  <h5 class="card-header">Stations/Stops</h5>
	  <div class="card-body">
	    <!-- <h5 class="card-title">Special title treatment</h5> -->
	    {% for point in data.result.points.result %}
			<!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
    		<a href="#" class="btn btn-primary">{{point.identifier}}</a>	
		{% endfor %}
	  </div>
	</div>
	<div class="card mt-2">
	  <h5 class="card-header">Routes</h5>
	  <div class="card-body">
	    <!-- <h5 class="card-title">Special title treatment</h5> -->
	    {% for route in data.result.routes.result %}
			<!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
    		<a href="{{data.urls.route}}{{route.id}}" class="btn btn-primary">{{route.identifier}}</a>	
		{% endfor %}
	  </div>
	</div>
	<div class="card mt-2">
	  <h5 class="card-header">Countries</h5>
	  <div class="card-body">
	    <!-- <h5 class="card-title">Special title treatment</h5> -->
	    {% for country in data.result.countries.result %}
			<p class="card-text">We will be adding countries all the time, the countries with the most recent updates will be displayed here.</p>
    		<a href="#" class="btn btn-primary">{{country.name}}</a>	
		{% endfor %}
	  </div>
	</div>
	<div class="card mt-2">
	  <h5 class="card-header">Cities</h5>
	  <div class="card-body">
	    <!-- <h5 class="card-title">Special title treatment</h5> -->
	    {% for city in data.result.cities.result %}
			<p class="card-text">We will be adding cities all the time, the cities with the most recent updates will be displayed here.</p>
    		<a href="#" class="btn btn-primary">{{city.name}}</a>	
		{% endfor %}
	  </div>
	</div>
{% endblock %}
