<form action="/updates/update" method="POST" id="update_form">
  <label for="transport_type">Transport Type:</label><br>
  <select name="transport_type" id="transport_type">
    <option value="bus">Bus</option>
    <option value="train">Train</option>
    <option value="tram">Tram</option>
    <option value="taxi">Taxi</option>
  </select>
  <label for="note">Update:</label><br>
  <textarea id="note" name="note" rows="6" cols="50"></textarea><br>
  <br>
  bellow will be hidden
  <br>
  point_id: <br>
  <input type="text" id="point_id" name="point_id" value="1"><br>
  route_id: <br>
  <input type="text" id="route_id" name="route_id" value="1"><br>
  transport_id: <br>
  <input type="text" id="transport_id" name="transport_id" value="1"><br>
  city_id: <br>
  <input type="text" id="city_id" name="city_id" value="1"><br>
  country_id: <br>
  <input type="text" id="country_id" name="country_id" value="1"><br>
  area_id: <br>
  <input type="text" id="area_id" name="area_id" value="1">
  <br><br>
  <input type="submit" value="Submit">
</form>

<!-- This will move to js build -->
<script type="text/javascript" src="/js/src/updates_serialise.js"></script>