<form action="/updates/update/route" method="POST" id="update_routes_form">
  <div class="spinner-border d-none" id="load-spinner" role="status">
    <span class="sr-only"></span>
  </div>
  <label for="transport_type">Transport Type:</label><br>
  <select name="transport_type" id="transport_type">
    <option value="1" data-transport_type="bus">Bus</option>
    <option value="2" data-transport_type="train">Train</option>
    <option value="3" data-transport_type="tram">Tram</option>
    <option value="4" data-transport_type="taxi">Taxi</option>
  </select>
  <br>
  {% if data.result.result != "NULL" %}
    <label for="point_id">Station/Stop:</label><br>
    <select name="point_id" id="point_id">
      {% for point in data.result.result %}
        <option value="{{point.point_id}}" 
          data-route_id="{{point.route_id}}"
          data-city_id="{{point.city_id}}"
          data-area_id="{{point.area_id}}"
          data-country_id="{{point.country_id}}">
            {{point.point_identifier}}
        </option>
      {% endfor %}
    </select>
    <br>
    <br>
    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#gridSystemModal" data-toggle="tooltip" data-placement="top" title="Cannot find your station/stop? Click here to add a new one.">
      Add a new station/stop
    </button>
    <br>
  {% endif %}
  <label for="note">Update:</label><br>
  <textarea id="note" name="note" rows="6" cols="20"></textarea><br>
  <input class="btn btn-primary" type="submit" value="Submit">
</form>
{% include "partials/points/points_modal.html" %}
<!-- This will move to js build -->
<script type="text/javascript" src="/js/src/updates_points_serialise.js"></script>